/* generals */
* {
  font-family: 'Josefin Sans', sans-serif;
}

/* utils */
.titlesSections {
  font-size: 0.7rem;
  font-weight: bold;
}

.btnGeneral {
  border: 0;
  padding: 0.5rem 1.4rem;
  font-size: 0.7rem;
  font-weight: bold;
}

.cartdsIcons {
  width: 4rem;
  height: 4rem;
}

.cardsTitles {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 1rem 1rem 0.5rem 1rem;
}

.cardsTexts {
  font-size: 0.8rem;
  color: #666666;
}

.cartdsBigIcons {
  width: 100%;
  height: 19rem;
}

.cartdsTeam {
  width: 12rem;
  height: 15rem;
}

/* NAVBAR */
#logoIcon {
  margin-right: 8rem;
}

.icons {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 0.7rem;
}

#divisionLine {
  height: 1.4rem;
  border: 1px solid rgba(66, 66, 66, 0.5);
  margin: 0.2rem 1rem 0 1rem;
}

#navbarSupportedContent {
  font-size: 0.7rem;
}

/* CAROUSEL */
#carousel {
  position: relative;
  background-image: url(../img/carousel/carousel.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 30rem;
  padding: 0 0.7rem;
}

.iconsCarousel {
  width: 1.9rem;
  height: 1.9rem;
  padding: 0.5rem;
  background-color: rgba(11, 11, 11, 0.7);
  cursor: pointer;
}

#carousel>div {
  margin-left: 10rem;
}

#carousel div>h2 {
  font-size: 3rem;
  font-weight: bold;
  width: 30rem;
}

/* ABOUT US */
#aboutUs {
  background-image: url(../img/About-Us.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 26rem;
}

#aboutUs>div {
  color: #FFFFFF;
  width: 41rem;
}

/* BANNER SATISFIED CLIENTS */
#satisfiedClients {
  background-image: url(../img/sfondo-persone-soddisfatte.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#satisfiedClients>div {
  color: #FFFFFF;
  margin: 4rem 7rem;
}